@import "~bootstrap/scss/bootstrap";
@import "./variables";
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

html {
  min-height: 100%;
  position: relative;

  body {
    height: 100%;
    background-color: $main-background;
  }
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.menu-container {
  padding: 10px;
  margin: 10px;
  background-color: $main-dark;
  color: $main-background;
}

.btn:focus, .form-control:focus {
  box-shadow: none;
}

.btn {
  border-radius: 0;
}