@import '../../../scss/variables';

.pagination {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: $md-max) {
    .page-item:not(.active):not(.next):not(.prev) {
      display: none;
    }
  }

  @media screen and (min-width: $lg-min) {
    .prev, .next {
      display: none;
    }
  }
}
